body{
    text-align: center;
    top: 15%;
    text-transform: uppercase;
    letter-spacing: .5em;
    background: linear-gradient(to right, red, yellow);
}

h1{
    text-align: center;
    top: 15%;
    text-transform: uppercase;
    letter-spacing: .5em;
}

h3{
    text-align: center;
    top: 15%;
    text-transform: uppercase;
}